<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.uncle.guibyexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.uncle.guibyexample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".example.spinner.SpinnerActivity"></activity>
        <activity android:name=".example.gridview.GridViewActivity"></activity>
        <activity android:name=".example.gridview.FullImageActivity" android:theme="@style/FullscreenTheme" ></activity>
        <activity android:name=".example.slideout.SampleActivity"></activity>
        <activity android:name=".example.slideout.SlideoutActivity"></activity>
        <activity android:name=".example.slideout.MenuActivity"></activity>
        
    </application>

</manifest>